body{
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    background-color: #ffffff;
    line-height: 1.5;
}
/************HEADER**************/
header{
    background: url("../img/bg1.jpg")no-repeat scroll 0px 0px / cover;
    text-align: center;
    color: #ffffff;
}
.header-content{
    padding: 100px 0;
    position: relative;
}
.hd-designation{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    margin:0 auto;
    max-width: 80%;
}
.red-line{
    position: absolute;
    background-color: #f05f40;
    height: 3px;
    width: 50px;
    left:48%;
}
.hd-text{
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}
/************BUTTONS***************/
.buttons{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 300px;
}
.buttons:hover{
    color: #ffffff;
    background-color: #777777;
    text-decoration: none;
}
.hd-btn{
    color: #ffffff;
    background-color: #f05f40;
}
.hd-btn:hover{
    color: #ffffff;
    background-color: #ee4b28;
    text-decoration: none;
}
/************ABOUT***************/
.all-content{
    padding: 100px 0;
}
.red-bg{
    background-color: #f05f40;
}
.ab-section{
    position: relative;
}
.ab-title{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    color: #ffffff;
}
.under-title{
   padding: 30px 0;
}
.white-line{
    height: 3px;
    width: 50px;
    background-color: #ffffff;
    position: absolute;
    left:48%;
}
.ab-text{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}
/************SERVICE*************/
.sr-title{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
}
.sr-section .fa{
    color:#f05f40;
}
.sr-chapter{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.sr-text{
    color: #777777;
}
/************PHOTO***************/
.grey-bg{
    background-color: #222222;
    padding: 50px 0;
    color: #ffffff;
}
.ph-title{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 30px;
}
.ph-section{
    padding-left: 0;
    padding-right: 0;
}
/************CONTACT*************/
.phone,
.email{
    margin-top: 30px;
}
.email a{
    color: #f05f40;
}



